@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/Mission-bg-min.png);
  background-position: 50% 50%;
  background-size: auto;
}

[x-cloak] { display: none !important; }